@*model IEnumerable<FikrimVar.Mesaj>*@

@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Mesaj>
@{
    ViewBag.Title = "Index";
}
<br />
<table class="table table-hover">
    <thead class="thead-dark">
        <tr class="bg-success">
            <th>
                Mesaj Başlık
            </th>
            <th>
                Mesaj İcerik
            </th>
            <th>
                Kategori Adı
            </th>
            <th>
                Üye Adı
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MesajBaslik)
            </td>
            <td>
                @item.MesajIcerik.Substring(0, 20)
                <a href="/Home/DetailMessage/@item.MesajID">..devamı için tıkla.</a>
                @*@Html.DisplayFor(modelItem => item.MesajIcerik)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.KategoriAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uye.UyeAdi)
            </td>
        </tr>
    }

</table>
<div></div>
Sayfalar @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>